<div class="container">
    <div class="row">
        <div class="col-md-12">
          <h5 class="mt-2">Your Cart Count <i class="fa fa-check-square-o" aria-hidden="true"></i></h5>
        </div>
      </div>
    
    <div class="row mb-2">
        <div class="col-md-6 text-center">
          <span> SubTotal for: ( {{itemCount}} products ) = <span>{{(cart | async).grossTotal | currency:'USD':true}}</span></span>
        </div>
        <div class="col-md-6">
            <a [attr.disabled]="itemCount === 0 ? true : null" routerLink="/checkout"><button class="btn btn-block checkout">Checkout <i class="fa fa-credit-card" aria-hidden="true"></i></button></a>
          </div>
      </div>
      <hr>
      <div class="row mb-3">
        <div class="col-md-4">
          <button type="button" class="btn btn-sm" (click)="emptyCart()" [attr.disabled]="itemCount === 0 ? true : null">Empty Cart <i class="fa fa-trash"></i></button>
        </div>
      </div>
      
</div>