<div id="st-container" class="st-container">
    <div class="st-pusher">
       <div class="st-content">
          <div class="st-content-inner">
             <div class="main clearfix">
                <div class="collapse bg-light" id="navbarHeader">
                   <app-shopping-cart></app-shopping-cart>
                </div>
                <div class="navbar navbar-dark bg-dark">
                   <div class="container d-flex justify-content-between">
                      <a href="#" class="navbar-brand d-inline" style="font-family:'Lobster',cursive;font-weight:normal;">
                         El Baratón Foodstore 
                         <div class="d-inline icon icon-shop"></div>
                      </a>
                      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarHeader" aria-controls="navbarHeader" aria-expanded="false" aria-label="Toggle navigation">
                      <span style="font-size:.8em;text-transform:capitalize;">Check your cart</span>   <span class="fa fa-shopping-cart"></span>
                      </button>
                   </div>
                </div>
                <div class=" text-muted">
                   <div  class="container my-5 ">
                      <ul class="nav nav-pills mb-3 justify-content-center" id="pills-tab" role="tablist">
                         <li class="nav-item">
                            <a class="nav-link active" id="pills-drinks-tab" data-toggle="pill" href="#pills-drinks" role="tab" aria-controls="pills-drinks" aria-selected="true">Drinks</a>
                         </li>
                         <li class="nav-item">
                            <a class="nav-link" id="pills-breakfast-tab" data-toggle="pill" href="#pills-breakfast" role="tab" aria-controls="pills-breakfast" aria-selected="false">Breakfast</a>
                         </li>
                         <li class="nav-item">
                            <a class="nav-link" id="pills-lunch-tab" data-toggle="pill" href="#pills-lunch" role="tab" aria-controls="pills-lunch" aria-selected="false">Lunch</a>
                         </li>
                         <li class="nav-item">
                            <a class="nav-link" id="pills-wines-tab" data-toggle="pill" href="#pills-wines" role="tab" aria-controls="pills-wines" aria-selected="false">Wines</a>
                         </li>
                      </ul>
                      <div class="tab-content" id="pills-tabContent">
                         <div class="row justify-content-center">
                            <div class="col-md-4">
                               <div class="input-group mt-2 ">
                                  <span class="input-group-addon" id="basic-addon1"><i class="fa fa-keyboard-o fa-2x"></i></span>
                                  <input type="text" [(ngModel)]="term" class="form-control" placeholder="Input product name" aria-label="Product name" aria-describedby="basic-addon1" style="font-weight:bold;">
                               </div>
                               <label class="btn-md mt-2  mb-4" style="font-size:.9em; color:#c0392b;">Find a product <i class="fa fa-search"></i>  </label>
                            </div>
                         </div>
                         <div class="tab-pane fade show active" id="pills-drinks" role="tabpanel" aria-labelledby="pills-drinks-tab">
                            <div  class="row" >
                               <div class="col-md-4"  *ngFor="let product of products | async | callback: filterClassDrinks | orderBy: order | filter:term">
                                  <div class="card mb-5" style=" background-color:#ecf0f1!important;">
                                     <div class="text-center"  style="height:5vh;">
                                        <button type="button" class="btn-md" *ngIf="productInCart(product) | async" (click)="removeProductFromCart(product, 1)">Remove <i class="fa fa-cart-arrow-down fa-2x"></i></button>
                                     </div>
                                     <div class="card-img-top foodicon foodicon--{{product.icon}}  text-center"></div>
                                     <div class="card-body">
                                        <h4 class="card-title" style="font-family: 'Lobster', cursive;text-transform:capitalize;color:#e74c3c;">{{product.name}}</h4>
                                        <p class="card-text" style="font-family: 'Poiret One', cursive;"><strong style="color:#34495e;">Precio: {{product.price | currency:'USD':true}}</strong></p>
                                        <div>
                                           <button class="btn-block" data-toggle="modal" data-target="#myModal" (click)="onSelect(product)" >Info</button>
                                           <button type="button" class="btn-block" [attr.disabled]="product.available == 0 ? true : null" (click)="addProductToCart(product, 1)" style="background:#e74c3c;">Add To Cart <i class="fa fa-shopping-cart"></i></button>
                                        </div>
                                     </div>
                                  </div>
                               </div>
                            </div>
                         </div>
                         <div class="tab-pane fade" id="pills-breakfast" role="tabpanel" aria-labelledby="pills-breakfast-tab">
                            <div  class="row" >
                               <div class="col-md-4"  *ngFor="let product of products | async | callback: filterClassBreakfast | orderBy: order | filter:term">
                                  <div class="card mb-5" style=" background-color:#ecf0f1!important;">
                                     <div class="text-center"  style="height:5vh;">
                                        <button type="button" class="btn-md" *ngIf="productInCart(product) | async" (click)="removeProductFromCart(product, 1)">Remove <i class="fa fa-cart-arrow-down fa-2x"></i></button>
                                     </div>
                                     <div class="card-img-top foodicon foodicon--{{product.icon}}  text-center"></div>
                                     <div class="card-body">
                                        <h4 class="card-title" style="font-family: 'Lobster', cursive;text-transform:capitalize;color:#e74c3c;">{{product.name}}</h4>
                                        <p class="card-text" style="font-family: 'Poiret One', cursive;"><strong style="color:#34495e;">Precio: {{product.price | currency:'USD':true}}</strong></p>
                                        <div>
                                           <button class="btn-block" data-toggle="modal" data-target="#myModal" (click)="onSelect(product)" >Info</button>
                                           <button type="button" class="btn-block" [attr.disabled]="product.available == 0 ? true : null" (click)="addProductToCart(product, 1)" style="background:#e74c3c;">Add To Cart <i class="fa fa-shopping-cart"></i></button>
                                        </div>
                                     </div>
                                  </div>
                               </div>
                            </div>
                         </div>
                         <div class="tab-pane fade" id="pills-lunch" role="tabpanel" aria-labelledby="pills-lunch-tab">
                            <div  class="row" >
                               <div class="col-md-4"  *ngFor="let product of products | async | callback: filterClassLunch | orderBy: order | filter:term">
                                  <div class="card mb-5" style=" background-color:#ecf0f1!important;">
                                     <div class="text-center"  style="height:5vh;">
                                        <button type="button" class="btn-md" *ngIf="productInCart(product) | async" (click)="removeProductFromCart(product, 1)">Remove <i class="fa fa-cart-arrow-down fa-2x"></i></button>
                                     </div>
                                     <div class="card-img-top foodicon foodicon--{{product.icon}}  text-center"></div>
                                     <div class="card-body">
                                        <h4 class="card-title" style="font-family: 'Lobster', cursive;text-transform:capitalize;color:#e74c3c;">{{product.name}}</h4>
                                        <p class="card-text" style="font-family: 'Poiret One', cursive;"><strong style="color:#34495e;">Precio: {{product.price | currency:'USD':true}}</strong></p>
                                        <div>
                                           <button class="btn-block" data-toggle="modal" data-target="#myModal" (click)="onSelect(product)" >Info</button>
                                           <button type="button" class="btn-block " [attr.disabled]="product.available == 0 ? true : null"  (click)="addProductToCart(product, 1)" style="background:#e74c3c;">Add To Cart <i class="fa fa-shopping-cart"></i></button>
                                        </div>
                                     </div>
                                  </div>
                               </div>
                            </div>
                         </div>
                         <div class="tab-pane fade" id="pills-wines" role="tabpanel" aria-labelledby="pills-wines-tab">
                            <div  class="row" >
                               <div class="col-md-4"  *ngFor="let product of products | async | callback: filterClassWines | orderBy: order | filter:term">
                                  <div class="card mb-5" style=" background-color:#ecf0f1!important;">
                                     <div class="text-center"  style="height:5vh;">
                                        <button type="button" class="btn-md" *ngIf="productInCart(product) | async" (click)="removeProductFromCart(product, 1)">Remove <i class="fa fa-cart-arrow-down fa-2x"></i></button>
                                     </div>
                                     <div class="card-img-top foodicon foodicon--{{product.icon}}  text-center"></div>
                                     <div class="card-body">
                                        <h4 class="card-title" style="font-family: 'Lobster', cursive;text-transform:capitalize;color:#e74c3c;">{{product.name}}</h4>
                                        <p class="card-text" style="font-family: 'Poiret One', cursive;"><strong style="color:#34495e;">Precio: {{product.price | currency:'USD':true}}</strong></p>
                                        <div>
                                           <button class="btn-block" data-toggle="modal" data-target="#myModal" (click)="onSelect(product)" >Info</button>
                                           <button type="button" class="btn-block " [attr.disabled]="product.available == 0 ? true : null" (click)="addProductToCart(product, 1)" style="background:#e74c3c;">Add To Cart <i class="fa fa-shopping-cart"></i></button>
                                        </div>
                                     </div>
                                  </div>
                               </div>
                            </div>
                         </div>
                      </div>
                   </div>
                </div>
             </div>
          </div>
       </div>
    </div>
 </div>
 <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true" >
    <div class="modal-dialog" role="document">
       <div class="modal-content" *ngIf="selectedProduct"  >
          <div class="modal-body">
             <h3 class="modal-title" id="exampleModalLabel" style="color:#a12e4a; font-family:'Lobster',cursive;text-transform:capitalize;">{{selectedProduct.name}}</h3>
             <p style="color:#aca89a;" *ngIf="selectedProduct.available == false;" class="text-center" > <span class="alert alert-danger" style="font-family:'Poiret one',cursive;">Out of stock</span> </p>
             <hr>
             <p class="card-text" style="font-family: 'Poiret One', cursive;"><strong style="color:#34495e;">Precio: {{selectedProduct.price | currency:'USD':true}}</strong></p>
             <h6 class="mb-3" style="color:#a12e4a; font-family:'Lobster',cursive;text-transform:capitalize;">Images:</h6>
             <div class="card-group" >
                <div class="card" >
                   <div class="card-body">
                      <div class=" foodicon foodicon--{{selectedProduct.icon}}  text-center"></div>
                   </div>
                </div>
             </div>
             <h6 class="mt-3 mb-4"style="color:#a12e4a; font-family:'Lobster',cursive;text-transform:capitalize;" >Reviews:</h6>
             <div class="card mt-2 mb-2">
                <div class="card-header" style="color:#34495e;">
                   Author: 
                </div>
                <div class="card-body">
                   <p class="card-text" style="color:#aca89a;font-family:'Poiret One';">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Beatae ipsa possimus officiis dolor repellendus.</p>
                   <button  class="btn btn-dark" [disabled]="outstock" (click)="addProductToCart(selectedProduct, 1)" >Purchase <i class="fa fa-shopping-cart"></i></button>
                </div>
             </div>
          </div>
          <div class="modal-footer" >
             <button type="button" class="trigger" data-dismiss="modal">Close</button>
          </div>
       </div>
    </div>
 </div>