.navbar-toggler:hover{
   background-color:#7f8c8d ;
   color: #ecf0f1;
}

.navbar-toggler:focus{
    background-color:#7f8c8d ;
    color: #ecf0f1;
    border:none;
 }

 .navbar {
     border-bottom-right-radius: 3px;
     border-bottom-left-radius: 3px;
     box-shadow: 0px 5px 7px black;
 }

.card{
    box-shadow: 0px 5px 7px #c3c3c3;
}