<div class="container ">
    <div class="row">
        <div class="col-md-12">
            <div class="jumbotron">
                <h1 class="display-5" style="font-family: 'Lobster', cursive;">Your order has been placed!</h1>
                <p class="lead" style="font-family: 'Comfortaa', cursive;">See what else you can find in our store.</p>
                <hr class="my-4">
                <p style="font-family: 'Poiret One', cursive;">If you're done, come back soon.</p>
                <p class="lead text-center" style="font-family: 'Comfortaa', cursive; color:#c0392b;">
                    <i class="fa fa-arrow-circle-left" aria-hidden="true"></i><a routerLink="/" class="btn btn-md">Continue Shopping!</a>
                </p>
              </div>
      
          </div>
       
      </div>
      
</div>


