<nav class="navbar navbar-dark bg-dark">
    <a href="#" class="navbar-brand d-inline" style="font-family:'Lobster',cursive;font-weight:normal;">El Baratón Foodstore <div class="d-inline icon icon-shop"></div></a>
  </nav>

<div class="container my-5 p-5 ">

      <div class="row">
        <div class="col-md-3 mb-5 pr-2">
          <h4>Your Products</h4>
          <strong>confirm the quantity</strong>
          <ul class="list-unstyled" *ngFor="let item of cartItems">
            <li class="pl-5"><div class="foodicon foodicon--{{item.product.icon}}" ></div></li>
            <li>Name: {{item.product.name}}</li>
            <li>Quantity: {{item.quantity}} x {{item.product.price | currency:'USD':true}}</li>
            <li>Sum: {{item.totalCost | currency:'USD':true}}</li>
          </ul>
          <span class="d-inline"><strong style="font-family:'Lobster',cursive;">Total </strong></span> <span class="d-inline price">{{(cart | async).grossTotal | currency:'USD':true}}</span>
          
        </div>
     
        <hr>
       
        <div class="col-md-5 mb-5 pl-2"  style="border-left:#c3c3c3 solid 1px;">
          <h4>Delivery Options</h4>
      
          <div class="row delivery-option"
              *ngFor="let option of deliveryOptions | async">
              <div class="cold-md-1 mr-2">
                <input type="radio"
                       name="delivery_option"
                       id="{{option.name}}"
                       [checked]="option.id === (cart | async).deliveryOptionId"
                       (click)="setDeliveryOption(option)">
              </div>
              <div class="cold-md-9">
                <label class=" " for="{{option.name}}" (click)="setDeliveryOption(option)">{{option.name}}</label>
              </div>
              <div class="col-md-2">
                <p class="price">{{option.price | currency:'USD':true}}</p>
              </div>
              <div class="col-md-12">
                <p class="option" >{{option.description}}</p>
              </div>
          </div>
        </div>
      
      
       
          <div class="col-md-4" >
     
            <ul class="list-unstyled">
              <li class="my-5"><a class="warning button expanded"  routerLink="/"><button class="btn-block">Continue Shopping</button></a></li>
              <li class="my-5"><a *ngIf="(cart | async).deliveryOptionId !== undefined" routerLink="/confirmed"><button class="btn-block">Purchase Order</button></a></li>
              <li class="my-5 text-center"><h4 *ngIf="(cart | async).deliveryOptionId === undefined">Select a delivery option</h4></li>
            </ul>
            
              
              
          </div>
      
      </div>

      
</div>