h4{
    font-family: 'Lobster',cursive;
}

span{
    font-family: 'Poiret One',cursive;
    font-size: 1em;
    
}
a:hover{
    text-decoration: none;
}

 li{
    text-transform: capitalize;
   
}

strong {
    text-transform: capitalize;
    color: #c0392b;
}

.option{
    font-family: 'Comfortaa',cursive;
    color: #e74c3c;
    font-size: .8em;
}

.price {
    font-family: 'Comfortaa',cursive;
    color: Black;  
}

.navbar{
 box-shadow: 0px 5px 7px black;
}